* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#homeBtn {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;
}
button {
  font-size: 1em;
  padding: 0.5rem 1rem;
}
nav {
  background-color: grey;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  border-radius: 10px;
  /* margin-bottom: 5rem; */
}
.container {
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightblue;
}
input[type="number"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
button{
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: lightgrey;
}